* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: #0f1f2e;
}
.navbar {
  background-color: #2e3b55;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
}
.navbar img {
  height: 85px;
  width: 100px;
  margin-left: 30px;
}
.user {
  margin-right: 20px;
}
main {
  display: flex;
  margin-top: 0px;
}
.background {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px);
}
.sidebar {
  height: calc(100vh - 100px); 
  overflow-y: auto; 
}
.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 2px solid white;
  position: fixed;
  margin-top: 105px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #e9ebf0;
  font-style: italic;
  font-size: xx-large;
  text-align: center;
  
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px 300px;
  padding: 30px;
  gap: 60px;
  margin-left: 300px;
  margin-top: 105px;
  margin-bottom: 50px;
}
.card {
  background-color: lightblue;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

.card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;

  transition: transform 0.4s ease;
}

.card img:hover {
  transform: scale(1.1);
}


.card a {
  text-decoration: none;
  color: black;
  display: block;
}


.card a:hover {
  text-decoration: none;
}

.card h4 {
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
  color: black;
  text-decoration: none;
}

.card p:hover {
  color: red;
  text-decoration: none;
}

.card h4:hover {
  color: red;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.bottom-nav {
  background-color: #2e3b55;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
}
.bottom-nav .icon {
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.bottom-nav .icon:hover {
  transform: scale(1.2);
}
.bottom-nav a {
  color: white;
  text-decoration: none;
}

.bottom-nav a:visited {
  color: white;
}

.bottom-nav a:hover {
  color: red;
}
