* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

main {
  display: flex;
  margin-top: 0px;
}
.background {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px);
}
.sidebar {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 2px solid #2e3b55;
  position: fixed;
  margin-top: 105px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #2e3b55;
  font-style: italic;
  font-size: xx-large;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px 300px;
  padding: 30px;
  gap: 60px;
  margin-left: 300px;
  margin-top: 105px;
  margin-bottom: 50px;
}
.card {
  background-color: rgb(237, 249, 255);
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

.card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #2e3b55;
  transition: transform 0.4s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.card a {
  text-decoration: none;
  color: black;
  display: block;
}

.card a:hover {
  text-decoration: none;
}

.card h4 {
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
  color: black;
  text-decoration: none;
}

.card p:hover {
  color: red;
  text-decoration: none;
}

.card h4:hover {
  color: red;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
