* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding-top: 120px;
  overflow-y: auto;

}

.job-container {
  width: 75%;
  max-width: 1100px;
  background: #fff;
  margin: 20px auto;
  display: flex;
  padding: 20px;
  border-radius: 12px;
}

.left-section {
  width: 32%;
  margin-top: 80px;
  text-align: center;
  border-right: 1px solid #ddd;
  padding-right: 30px;
}

.company-logo {
  width: 150px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  background: #f0f0f0;
}

.left-section img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.company-name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.next-page {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.next-page p {
  grid-column: span 3;
  font-size: 30px;
  margin-bottom: 0px;
}

.next-page img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: auto;
}
.next-page h5 {
  color: black;
  text-decoration: none;
}
.time-posted {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.apply-btn {
  margin-top: 20px;
  padding: 10px 40px;
  background: #1e73ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.apply-btn:hover {
  background: #005ae0;
  transform: scale(1.1);
}
/* ----- RIGHT SECTION ----- */
.right-section {
  width: 68%;
  padding-left: 40px;
  line-height: 1.8;
}

.right-section h3 {
  margin-bottom: 10px;
}

.sub-text {
  margin-bottom: 20px;
  color: #444;
}

.right-section h4 {
  margin-top: 15px;
  font-size: 18px;
}

.right-section ul {
  margin-top: 10px;
  padding-left: 20px;
}

