* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.profile-card {
  background: white;
  margin: 120px auto 20px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}
.cover img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.profile-info {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
   background: rgb(237, 249, 255);
}

.profile-pic img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: -90px;
}
.profile-text {
  margin-left: 200px;
}
.profile-text h1 {
  font-size: 28px;
}
.profile-text span {
  font-size: 16px;
  color: gray;
}

.text {
  margin-top: 5px;
  font-size: 18px;
}

.location {
  color: gray;
  margin-top: 5px;
}

.location a {
  color: #0a66c2;
  text-decoration: none;
}
.connections {
  color: #0a66c2;
  margin-top: 5px;
  font-weight: bold;
}
.company {
  margin-left: auto;
  font-weight: bold;
}
.section {
background: rgb(237, 249, 255);
  width: 88%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
 
}
.section h2 {
  margin-bottom: 10px;
}
 
