* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.main-section {
  position: relative;
  text-align: center;
  padding: 40px 20px;
}
.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(6px);
}
.logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 30px;
  padding-left: 0px;
  margin-top: 130px;
    text-decoration: none;
}
.logo-grid h6 {
  color: black;
  font-size: medium;
}
.logo-grid img {
  width: 100px;
  height: 95px;
}
.logo-grid a{
  text-decoration: none;
}

 
