* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  overflow-y: hidden;
}
.navbar {
  background-color: #2e3b55;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
}
.navbar img {
  height: 85px;
  width: 100px;
  margin-left: 30px;
}
.user {
  margin-right: 20px;
}

.main-section {
  flex: 1;
  text-align: center;
  padding: 40px 20px;
  margin-top: 100px;
}

.slider-container {
  width: 1200px; /* shows one resume */
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  gap: 30px;
  transition: transform 0.8s ease-in-out;
}

.slider img {
  width: 300px;
  height: 400px;
  border-radius: 10px transition transform 0.4s ease;
}
.slider img:hover {
  transform: scale(1.1);
}
/* Slider dots (circles) */
.dots {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d1d5db;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: red;
  width: 12px;
  height: 12px;
}
/* Slider wrapper */
.slider-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arrow buttons */
.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: red;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
  color: #2e3b55;
}

.arrow.left {
  margin-right: 10px;
}

.arrow.right {
  margin-left: 10px;
}

.bottom-nav {
  background-color: #2e3b55;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
}
.bottom-nav .icon {
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.bottom-nav .icon:hover {
  transform: scale(1.2);
}
.bottom-nav a {
  color: white;
  text-decoration: none;
}

.bottom-nav a:visited {
  color: white;
}

.bottom-nav a:hover {
  color: red;
}
