* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f3f3f3;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.animation-box {
  position: relative;
  bottom: 800px;
}
.about {
  position: relative;
  bottom: 820px;
}

/* .navbar {
  background-color: #2e3b55;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
}
.navbar img {
  height: 85px;
  width: 100px;
  margin-left: 30px;
}
.user {
  margin-right: 20px;
}
.login{
  margin-right: 20px;
  font-size: 20px;
}
.login a{
  color: white;
  text-decoration: none;
} */
.animation-box {
  margin: 30px auto;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out infinite alternate;
  margin-top: 130px;
}
.animation-box img {
  height: 500px;
  width: 1000px;
}
@keyframes fadeIn {
  from {
    opacity: 0.7;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.about {
  width: 80%;
  margin: 0 auto 40px auto;
  margin-bottom: 100px;
}
.about h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
/* .bottom-nav {
  background-color: #2e3b55;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
}
.bottom-nav .icon {
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.bottom-nav .icon:hover {
  transform: scale(1.2);
  color: black;
}
.bottom-nav a {
  color: white;
  text-decoration: none;
}

.bottom-nav a:visited {
  color: white;
}

.bottom-nav a:hover {
  color: red;
} */
