* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.animation-box {
  /* position: relative; */
  bottom: 850px;
}
.about {
  /* position: relative; */
  bottom: 870px;
}
.animation-box {
  margin: 30px auto;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out infinite alternate;
  margin-top: 130px;
}
.animation-box img {
  height: 500px;
  width: 1000px;
}
@keyframes fadeIn {
  from {
    opacity: 0.7;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.about {
  width: 80%;
  margin: 0 auto 40px auto;
  margin-bottom: 100px;
}
.about h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
