body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  height: 300px;
}

#loginForm h2 {
  text-align: center;
  color: #2e3b55;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}
#loginForm h3 {
  text-align: center;
  color: #2e3b55;
  margin-top: 4px;
}
button {
  width: 100%;
  padding: 10px;
  background: #2e3b55;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
}

button:hover {
  background: #16315d;
}
p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
span {
  color: #2e3b55;
  font-weight: bold;
}
