body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container { 
  background: white;
  padding: 40px;
  border-radius: 10px;
  margin-top: 60px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#signupForm h2 {
  text-align: center;
  color: #16315d;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #16315d;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16315d;
}

a {
  color: #16315d;
  font-weight: bold;
  text-decoration: none;
}
p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
